<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Product</h1>

    <div style="width: 50%;border: 1px solid red;">
    <form method="POST" action="{% url 'add' %} ">
        {%csrf_token%}
            <table>
                <tr>
                    <td>Product Id:</td>
                    {% for i in f %}
                        {%if i.name == "Product_id" %}
                            <td>{{i}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Product Name:</td>
                    {% for i in f %}
                        {%if i.name == "Product_name" %}
                            <td>{{i}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Product Quantity:</td>
                    {% for i in f %}
                        {%if i.name == "Product_quantity" %} 
                            <td>{{i}}</td>
                            {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th><input type="submit" value="Add"></th>
                    <th><input type="reset" value="Reset"></th>
                </tr>
                <tr>
                    <th colspan="2">{{msg}}</th>
                </tr>
            </table>
        </form>
    </div>
    <div style="width: 100%;">
            <table style="width: 95%;border:1px outset #ff0000;text-align:center">
                <tr>
                    <th colspan="5"><u>Product</u></th>
                </tr>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Quantity</th>
                </tr>
                {% for e in form %}
                <tr>
                        <td>{{e.Product_id}}</td>
                        <td>{{e.Product_name}}</td>
                        <td>{{e.Product_quantity}}</td>
                </tr>
                {% endfor %}
            </table>
    </div>

    <table style="width: 50%;margin-left: 200px;">
        <form method="POST" action="del">
            {% csrf_token %}
            <tr>
                <td><select name="selectproduct" style="width: 50%;height: 40px;">
                    <option value="none">Select product</option>
                    {% for e in form %}
                        <option value="{{e.Product_id}}">{{e.Product_id}}</option>
                    {% endfor %}
                </select>
                </td>
                <td><input style="width: 60px;height: 40px;" type="submit" value="Delete" name="del"></td>
            </tr>
            <tr>
                <th> <input style="width: 60px;height: 40px;" type="submit" value="get" name="get">
                </th>
            </tr>
               
            </form>
    </table>
    
    <table style="width: 85%;color: wheat;margin-left: 50px;border: 1px solid rgb(147, 174, 248);background-color: #170336;">
        <form method="POST" action="productupdate">
            {% csrf_token %}
            {% for e in form4 %}
            <input  type="hidden" name="prname" value="{{e.Product_name}}">
                <tr>
                    <th style="text-align: center;">Quantity</th>
                    <td style="text-align: center;"><input type="text"  name="prate" value="{{e.Product_quantity}}"></td>
                </tr>
            <tr>
                <th colspan="4" style="text-align: center;"><input style="width: 60px;" type="submit" value="Update"></th>
            </tr>
            {% endfor %}
    </body>
</html>